

.card-container{
    width: 100%;
    height: 320px;

    background-color: #292929;


    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content img {
    width: 180px;
    height: 180px;
    margin-left: 100px;
    margin-top: 30px;

    border-radius: 50%;
}

.card-content  .inline-content {

    display: flex;
    flex-direction: row;
}


.card-content .card-text {
    width: 588px;
}

.card-content .card-text h2 {
    font-size: 32px;
    width: 500px;
    color: #fff;
    font-weight: 900;
}


.card-content .card-text p {
    width: 400px;
    color: #fff;
    font-size: 20px;
}

.card-content .card-text button {
    background-color: #AEEDBB;
    color: #292929;
}

.card-content .icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

#iconSize{
    width: 42px;
}